@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-display: 'Outfit Variable', sans-serif;
}

html {
  color-scheme: light dark;
  color: light-dark(var(--color-gray-800), var(--color-gray-50));
  background-color: light-dark(var(--color-gray-50), var(--color-gray-900));
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html[data-theme="dark"] {
  color-scheme: dark;
}