@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-display: 'Outfit Variable', sans-serif;
  --text-14: 0.875rem;

  --content-width-max: 70.5rem;
  --content-width: min(100%, var(--content-width-max));
  --aside-width: min(24rem, calc(0.3 * var(--content-width)));
  --content-gap: clamp(0.5rem, -0.9445rem + 6.1633vw, 3rem);
  --breakout-width: 3rem;
  --grid-points: 7;

  /* split: `[edge-start] auto [wide-start] minmax(0, var(--breakout-width)) [content-start] calc(min(100%, var(--content-width)) / 2 - ((var(--grid-points) - 2) / 2) * var(--content-gap)) [center] calc(min(100%, var(--content-width)) / 2 - ((var(--grid-points) - 2) / 2) * var(--content-gap)) [content-end] minmax(0, var(--breakout-width)) [wide-end] auto [edge-end]`,
    aside: `[edge-start] auto [wide-start] minmax(0, var(--breakout-width)) [content-start] calc(min(100%, var(--content-width)) - var(--aside-width) - ((var(--grid-points) - 2) * var(--content-gap))) [center] var(--aside-width) [content-end] minmax(0, var(--breakout-width)) [wide-end] auto [edge-end]`,
    40: `[edge-start] auto [wide-start] minmax(0, var(--breakout-width)) [content-start] calc(min(100%, var(--content-width)) * 0.4 - ((var(--grid-points) - 2) / 2) * var(--content-gap)) [center] calc(min(100%, var(--content-width)) * 0.6 - ((var(--grid-points) - 2) / 2) * var(--content-gap)) [content-end] minmax(0, var(--breakout-width)) [wide-end] auto [edge-end]`, */
}

html {
  color-scheme: light dark;
  color: light-dark(var(--color-gray-800), var(--color-gray-50));
  background-color: light-dark(var(--color-gray-50), var(--color-gray-900));
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html[data-theme="dark"] {
  color-scheme: dark;
}

body {
  @apply grid min-h-screen w-full;
  grid-template-rows: min-content auto min-content;
}

/* Base */

/* colors */

main {
  background-color: light-dark(var(--color-gray-50), var(--color-gray-900));
}

/* Components */

/* buttons */

button,
.btn {
  @apply justify-self-start flex gap-x-1 items-center py-3 px-6 rounded transition duration-200;
  @apply leading-snug font-medium text-14;
  @apply bg-blue-800 dark:bg-cyan-300 text-white dark:text-blue-900 shadow-lg shadow-blue-800/50;
  @apply hover:no-underline focus:no-underline hover:bg-blue-900 focus:bg-blue-900 dark:hover:bg-cyan-500 dark:focus:bg-cyan-500;

  &.btn-blue-cyan {
    @apply bg-gradient-to-r from-[#234FBE] to-cyan-600 shadow-cyan-800/50;
    @apply hover:bg-gradient-to-l focus:bg-gradient-to-l;
  }

  &.btn-transparent {
    @apply bg-transparent shadow-none;
    @apply text-gray-800 dark:text-gray-200;
    @apply hover:outline-2 hover:outline-blue-500/50 hover:backdrop-blur-md hover:bg-white/30 focus:outline-2 focus:outline-blue-500/50 focus:backdrop-blur-md focus:bg-white/20;
  }

  &.btn-sm {
    @apply py-1.5 px-3;
  }

  &.btn-0 {
    @apply p-0;
  }
}

/* Layouts */

/* grid */

main.split>*,
:not(main).split {
  @apply grid;
  grid-template-columns: [edge-start] auto [wide-start] minmax(0, var(--breakout-width)) [content-start] calc(min(100%, var(--content-width)) / 2 - ((var(--grid-points) - 2) / 2) * var(--content-gap)) [center] calc(min(100%, var(--content-width)) / 2 - ((var(--grid-points) - 2) / 2) * var(--content-gap)) [content-end] minmax(0, var(--breakout-width)) [wide-end] auto [edge-end];
  column-gap: var(--content-gap);

  >* {
    @apply col-[content];
  }

  >.half {
    @apply lg:col-[content-start_/_center];

    +.half {
      @apply max-lg:mt-8 lg:col-[center_/_content-end];
    }
  }
}

main.split-40>*,
:not(main).split-40 {
  @apply grid;
  grid-template-columns: [edge-start] auto [wide-start] minmax(0, var(--breakout-width)) [content-start] calc(min(100%, var(--content-width)) * 0.4 - ((var(--grid-points) - 2) / 2) * var(--content-gap)) [center] calc(min(100%, var(--content-width)) * 0.6 - ((var(--grid-points) - 2) / 2) * var(--content-gap)) [content-end] minmax(0, var(--breakout-width)) [wide-end] auto [edge-end];
  column-gap: var(--content-gap);

  >* {
    @apply col-[content];
  }

  >.half {
    @apply lg:col-[content-start_/_center];

    +.half {
      @apply max-lg:mt-8 lg:col-[center_/_content-end];
    }
  }
}

main.wide>*,
:not(main).wide {
  /* @apply grid grid-cols-split;
  column-gap: var(--content-gap); */

  >* {
    @apply col-[wide];
  }

  >.half {
    @apply lg:col-[wide-start_/_center];

    +.half {
      @apply max-lg:mt-8 lg:col-[center_/_wide-end];
    }
  }
}

main.aside,
:not(main).aside {
  @apply grid content-start;
  grid-template-columns: [edge-start] auto [wide-start] minmax(0, var(--breakout-width)) [content-start] calc(min(100%, var(--content-width)) - var(--aside-width) - ((var(--grid-points) - 2) * var(--content-gap))) [center] var(--aside-width) [content-end] minmax(0, var(--breakout-width)) [wide-end] auto [edge-end];
  /* grid-template-rows: min-content; */
  column-gap: var(--content-gap);

  >* {
    @apply col-[content] lg:col-[content-start_/_center];
  }

  aside {
    @apply max-lg:mt-8 lg:col-[center_/_content-end] lg:row-[1_/_100];
  }
}