---
import ThemeSwitcher from "./ThemeSwitcher.astro"
---

<nav aria-label="Main Navigation" class="flex justify-between items-center gap-4 py-2">
  <a href="/" aria-current="page" class="text-4xl font-bold">Logo</a>
  <ul class="hidden md:flex justify-between items-center basis-sm shrink gap-1">
    <li><a href="/" class="btn btn-sm btn-transparent">Home</a></li>
    <li><a href="/" class="btn btn-sm btn-transparent">Shop</a></li>
    <li><a href="/" class="btn btn-sm btn-transparent">Space Bears</a></li>
    <li><a href="/" class="btn btn-sm btn-transparent">Mars Cars</a></li>
  </ul>
  <div class="flex gap-2 items-center">
    <ThemeSwitcher />
    <a href="/" class="btn whitespace-nowrap">Contact Us</a>
  </div>
</nav>

<style>
  nav {
    @container scroll-state(stuck: top) {
      background-color: white;
    }
  }
</style>
