---
import {Icon} from "astro-icon/components"

import Scroller from "./Scroller.astro"
---

<hgroup class="half justify-items-start py-20 md:py-40">
  <span class="block text-5xl lg:text-6xl leading-none font-semibold mb-2">
    Lorem ipsum dolor sit amet consectetur <span class="text-blue-cyan font-extrabold">adipis yt e volleste</span>
  </span>
  <p class="text-lg leading-snug lg:text-2xl before:!content-none !normal-case font-normal">
    Our dedicated team of experts build secure digital solutions that elevate government services. We drive connections.
  </p>
  <a href="https://kyrasolutions.com/what-we-stand-for/" class="btn btn-white mt-8 motion-translate-x-in-100">
    Learn More <Icon name="mdi:arrow-right-thin" class="size-6" />
  </a>
  <!-- <Scroller class="mt-16">
    <img src="https://smultron.software/content/uploads/2024/01/karcher.svg" alt="" srcset="" class="h-6" />
    <img src="https://smultron.software/content/uploads/2024/01/edisonda.svg" alt="" srcset="" class="h-6" />
    <img src="https://smultron.software/content/uploads/2024/01/dr-eryk.svg" alt="" srcset="" class="h-6" />
    <img src="https://smultron.software/content/uploads/2024/01/supermenu.svg" alt="" srcset="" class="h-6" />
    <img src="https://smultron.software/content/uploads/2024/01/uniwerystet-wroclawski.svg" alt="" srcset="" class="h-6" />
    <img src="https://smultron.software/content/uploads/2024/01/onet.svg" alt="" srcset="" class="h-6" />
    <img src="https://smultron.software/content/uploads/2024/01/yggdrasil.svg" alt="" srcset="" class="h-6" />
    <img src="https://smultron.software/content/uploads/2024/01/eit.svg" alt="" srcset="" class="h-6" />
  </Scroller> -->
</hgroup>
