---
import {Icon} from "astro-icon/components"
---

<style>
  a {
    color: light-dark(var(--color-gray-800), var(--color-gray-100));

    &:hover {
      color: light-dark(var(--color-blue-600), var(--color-blue-300));
    }
  }
</style>

<address class="col-content flex gap-x-4 py-3 justify-end items-center">
  <a href=""><Icon name="mdi:phone-in-talk" /> <span class="max-md:hidden">555-555-5555</span><span class="md:hidden">Call</span></a>
  <a href=""><Icon name="mdi:envelope" /> <span class="max-md:hidden">contact@kyrasolutions.com</span><span class="md:hidden">Email</span></a>
  <a href="" class="md:ml-auto">
    <Icon name="mdi:map-marker-outline" />
    <span class="max-md:hidden">1234 Elm St.</span><span class="md:hidden">Office</span>
  </a>
  <div class="flex items-center">
    <a href="">
      <Icon name="mdi:facebook" desc="Kyra Solutions on Facebook" />
    </a>
    <a href="">
      <Icon name="mdi:linkedin" desc="Kyra Solutions on LinkedIn" />
    </a>
    <a href="">
      <Icon name="mdi:glassdoor" desc="Kyra Solutions on Glassdoor" />
    </a>
  </div>
</address>

<style>
  div,
  a {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    @apply transition-colors;
  }
</style>
