---
import BaseHead from "@components/BaseHead.astro"
import PageFooter from "@components/PageFooter.astro"
import PageHeader from "@components/PageHeader.astro"

import "@fontsource-variable/outfit"
import "@styles/global.css"

const {title, description, coverImage} = Astro.props
---

<!doctype html>
<html lang="en">
  <BaseHead {title} {description} {coverImage} />
  <body class="grid grid-rows-[auto_1fr_auto] min-h-screen font-display">
    <PageHeader />
    <main>
      <slot />
    </main>
    <PageFooter />
  </body>
</html>
