---
import BaseHead from "@components/BaseHead.astro"
import PageFooter from "@components/PageFooter.astro"
import PageHeader from "@components/PageHeader.astro"

import "@fontsource-variable/outfit"

const {title, description, coverImage} = Astro.props
---

<!doctype html>
<html lang="en">
  <BaseHead {title} {description} {coverImage} />
  <body style="display: grid; grid-template-rows: auto 1fr auto;">
    <PageHeader />
    <main>
      <slot />
    </main>
    <PageFooter />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
