@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/Outfit.woff2?v={{font_v}}") format("woff2");
}

body {
  font-family: "Outfit", sans-serif;
}